/* Basic CSS for the navigation bar */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #58e9f9;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

nav ul {
  list-style-type: none;
  /* padding: 0; */
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* Basic CSS for the form elements */
body {
  font-family: Arial, sans-serif;
  /* margin: 20px; */
}

h1 {
  margin-bottom: 20px;
}

div {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 100px;
}

input[type="text"],
input[type="number"],
select {
  width: 200px;
  padding: 5px;
}

button {
  padding: 7px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Basic CSS for the report section */
h2 {
  margin-top: 30px;
}

#report,
#result {
  padding: 10px;
  max-width: 400px;
  word-wrap: break-word;
}

#result {
  height: 400px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

#result img {
  width: 200px;
  height: 100px;
}

.container {
  position: relative;
  background-image: url(landscape.jpg);
  background-size: cover;
  background-position: center;
  height: 2000px; 
  color: white; 
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: left; 
  text-align: left; 
  padding: 50px; 
  box-sizing: border-box; 
}

.icons {
  margin-top: 20px;
  display: flex; 
  justify-content: flex-start;
}

.titulo {
  font-size: 70px;
  margin-bottom: 20px; 
}

.info {
  font-size: 28px;
  max-width: 600px;
}

.icons i {
  font-size: 54px;
  margin-right: 10px; 
  display: block; 
}

.containerAboutUs {
  background-image: url(landscape.jpg);
  background-size: cover;
  background-position: center;
  height: 1000px; 
  color: white; 
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: left; 
  text-align: left; 
  padding: 50px; 
  box-sizing: border-box; 
}

.title {
  font-size: 36px; 
  margin-bottom: 20px; 
}

.infoAboutUs {
  font-size: 28px; 
  margin-bottom: 40px; 
  max-width: 1600px
}

.team {
  display: flex; 
    flex-direction: row; 
    gap: 20px; 
  
}

.member {
  text-align: left; 
  margin-bottom: 20px; 
}

.containerColumn{
  flex-direction: column;
}

.containerContactUs {
  background-image: url(landscape.jpg);
  background-size: cover;
  background-position: center;
  height: 1000px;
  color: white;
  display: flex; 
  justify-content: center;
  align-items: center; 
  height: 100vh;
}

.containerResults {
  max-width: 800px;
    position: absolute;
    top: 50px;
    right: 50px; 
}

.containerResults p {
  color: black;
}

.containerResults img {
  width: 100%;
  height: auto;
}

.containerResults .info {
  padding: 20px;
}

.containerResults h2 {
  color: black;
  margin-top: 0;
}

.containerResults button {
  text-align: left;
  background-color: #007bff;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.containerResults button:hover {
  background-color: #0056b3;
}
.infoResult{
  background-color: white;
  flex: 0 0 calc(50% - 10px); 
    padding: 10px;
    border: 1px solid #ccc; 
    box-sizing: border-box;
}

